* {
			box-sizing: border-box;
			
		}
		body {
			background-color: OldLace;
		}

		h1 {
			color: Black;
		}

		p {
			font-family: Tahoma;
			font-size: 20px;
		}
		.container{
			display: grid;
			grid-template-columns: 70% 30%;
			
		}
		.navigation{
			display: grid;
			grid-area: navigation;
			grid-template-rows: auto;
			grid-template-areas: 
			"sitename menuitem1 menuitem2 menuitem3 blank login ";
			align-content: center; 
			
		}
		
		.navind{
			grid-area: sitename;
		}
		.svt{
			grid-area: menuitem1;
		}
		.GIT{
			grid-area: menuitem2;
		}
		
		.navyt{
			grid-area: menuitem3;
		}
		.navblank1{
			grid-area: blank;
		}
		.logincontainer{
			grid-area: login;
		}
		
		
		.article_left{
			
		}
		.article_right{
			
		}
		.SectionB{
			
			
		}
		.SectionA{
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: auto;
			grid-template-areas: 
			"titlecontainer titlecontainer";
			"article_left article_right";
			align-content: center; 
			
		}
		.titlecontainer{
			grid-area: titlecontainer;
			
		}
		.aside{
			  
		
		}
		.login{
			display: flex;
			justify-content: left;
		}
		.loginwrapper{
			
		}
		.loginform{
			display: grid;
			justify-content: center;	
		}